<!doctype html>
<html>
    <head>
        <title></title>
    </head>

    <body>
        <main>
        <div>
            <h1>Create a new list</h1>
        
        <form method="POST" enctype="multipart/form-data">
        
            {% csrf_token %}
          
            {{ form.as_p }}
              
            <button>Create</button>
        </form>
    </div>
</main>


    </body>

    </html>
